
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>重点项目库</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" th:href="@{../assets/images/favicon.ico}">

    <!-- Toastr css -->
    <link href="../plugins/jquery-toastr/jquery.toast.min.css" th:href="@{plugins/jquery-toastr/jquery.toast.min.css}" rel="stylesheet" />

    <!-- App css -->
    <link href="../../assets/css/bootstrap.min.css" th:href="@{../assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/icons.css" th:href="@{../assets/css/icons.css}" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/metismenu.min.css" th:href="@{../assets/css/metismenu.min.css}" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/style.css" th:href="@{../assets/css/style.css}" rel="stylesheet" type="text/css" />

    <!--此处引用全局性的css文件-->
    <link type="text/css" rel="stylesheet" href="../../assets/css/Site.css"th:href="@{../assets/css/Site.css}">

    <link type="text/css" rel="stylesheet" href="../../assets/css/style.css" th:href="@{../assets/css/style.css}">

    <!--此处引用全局性script文件-->
    <script type="text/javascript" src="../../assets/scripts/jquery-1.12.4.min.js" th:href="@{../assets/scripts/jquery-1.12.4.min.js}"></script>
    <script type="text/javascript" src="../../assets/scripts/UI/ui.core.min.js"th:href="@{../assets/scripts/UI/ui.core.min.js}"></script>
    <script type="text/javascript" src="../../assets/scripts/Page/ui.masterpage.js" th:href="@{../assets/scripts/Page/ui.masterpage.js}"></script>
    <script type="text/javascript" src="../../assets/scripts/Page/ui.messagebox.js" th:href="@{../assets/scripts/Page/ui.messagebox.js}"></script>
    <script type="text/javascript" src="../../assets/scripts/jquery.validate.min.js" th:href="@{../assets/scripts/jquery.validate.min.js}"></script>
    <script type="text/javascript" src="../../assets/scripts/UI/ui.validate.js" th:href="@{../assets/scripts/UI/ui.validate.js}"></script>

    <script type="text/javascript" src="../../assets/scripts/Page/ui.menu.js" th:href="@{../assets/scripts/Page/ui.menu.js}"></script>
    <link type="text/css" rel="stylesheet" href="../../assets/css/Menu.css" th:href="@{../assets/css/Menu.css}">
    <script type="text/javascript" src="../../assets/scripts/UI/ui.contentWindow.min.js" th:href="@{../assets/scripts/UI/ui.contentWindow.min.js}"></script>
    <link type="text/css" rel="stylesheet" href="../../assets/themes/metro/ui.metro.contentWindow.css" th:href="@{../assets/themes/metro/ui.metro.contentWindow.css}">

    <script type="text/javascript" src="../../assets/scripts/UI/ui.columnStyle.min.js" th:href="@{../assets/scripts/UI/ui.columnStyle.min.js}"></script>
    <script type="text/javascript" src="../../assets/scripts/UI/ui.gridview.min.js" th:href="@{../assets/scripts/UI/ui.gridview.min.js}"></script>

    <script type="text/javascript" src="../../assets/scripts/UI/ui.tools.min.js" th:href="@{../assets/scripts/UI/ui.tools.min.js}"></script>
    <script type="text/javascript" src="../../assets/scripts/UI/ui.dateChooser.min.js" th:href="@{../assets/scripts/UI/ui.dateChooser.min.js}"></script>
    <script type="text/javascript" src="../../assets/scripts/UI/ui.contentWindow.min.js" th:href="@{../assets/scripts/UI/ui.contentWindow.min.js}"></script>
    <script type="text/javascript" src="../../assets/scripts/UI/ui.selectionTree.min.js"th:href="@{../assets/scripts/UI/ui.selectionTree.min.js}"></script>
    <script type="text/javascript" src="../../assets/scripts/UI/ui.selectionList.min.js" th:href="@{../assets/scripts/UI/ui.selectionList.min.js}"></script>
    <script type="text/javascript" src="../../assets/scripts/jquery.validate.min.js" th:href="@{../assets/scripts/jquery.validate.min.js}"></script>
    <script type="text/javascript" src="../../assets/scripts/UI/ui.validate.js" th:href="@{../assets/scripts/UI/ui.validate.js}"></script>
    <script type="text/javascript" src="../../assets/scripts/UI/ui.tabPanel.min.js" th:href="@{../assets/scripts/UI/ui.tabPanel.min.js}"></script>

    <link type="text/css" rel="stylesheet" href="../../assets/themes/metro/ui.metro.tabPanel.css" th:href="@{../assets/themes/metro/ui.metro.tabPanel.css}"/>
    <link type="text/css" rel="stylesheet" href="../../assets/themes/metro/ui.metro.gridview.css" th:href="@{../assets/themes/metro/ui.metro.gridview.css}">
    <link type="text/css" rel="stylesheet" href="../../assets/themes/metro/ui.metro.tools.css" th:href="@{../assets/themes/metro/ui.metro.tools.css}">
    <link type="text/css" rel="stylesheet" href="../../assets/themes/metro/ui.metro.dateChooser.css" th:href="@{../assets/themes/metro/ui.metro.dateChooser.css}">
    <link type="text/css" rel="stylesheet" href="../../assets/themes/metro/ui.metro.contentWindow.css" th:href="@{../assets/themes/metro/ui.metro.contentWindow.css}">
    <link type="text/css" href="../../assets/themes/metro/ui.metro.selectionTree.css" th:href="@{../assets/themes/metro/ui.metro.selectionTree.css}" rel="stylesheet">
    <link type="text/css" href="../../assets/themes/metro/ui.metro.selectionList.css" th:href="@{../assets/themes/metro/ui.metro.selectionList.css}" rel="stylesheet">
    <style id="GlobalThemeChangeStyle" type="text/css"></style>
    <!-- 项目全局样式 -->
    <link type="text/css" rel="stylesheet" href="../../assets/css/Project.css" th:href="@{../assets/css/Project.css}">
    <!-- 主题色样式 -->
    <link id="theme" type="text/css" rel="stylesheet" href="../../assets/themes/metro.color/ui.metro.Default.css" th:href="@{../assets/themes/metro.color/ui.metro.Default.css}">
    <link id="theme" type="text/css" rel="stylesheet" href="../../assets/css/style.css" th:href="@{../assets/css/style.css}">

    <script role="reload" type="text/javascript" src="../../assets/scripts/biz/project-reserves.js" th:href="@{../assets/scripts/biz/project-reserves.js}"></script>
    <script src="../../assets/js/modernizr.min.js" th:href="@{../assets/js/modernizr.min.js}"></script>
    <style>
        ::-webkit-scrollbar{
            display: none;
        }
    </style>
</head>


<body>

<!-- Begin page -->
<div id="wrapper" style="overflow-y: scroll">

    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="index-fr.html" class="logo">
                <!--<span>
                    <img src="../../assets/images/logo.png" th:href="@{../assets/images/logo.png}" alt="" height="16">
                </span>
                <i>
                    <img src="../../assets/images/logo_sm.png" th:href="@{../assets/images/logo_sm.png}" alt="" height="28">
                </i>-->
            </a>
        </div>

        <nav class="navbar-custom">

            <ul class="list-unstyled topbar-right-menu float-right mb-0">


                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <img src="../../assets/images/users/avatar-1.jpg" th:href="@{../assets/images/users/avatar-1.jpg}" alt="user" class="rounded-circle">
                        <span class="ml-1" th:text="${session.loginuser.username}"> <i class="mdi mdi-chevron-down"></i> </span>欢迎您!
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <div class="dropdown-item noti-title">
                            <h6 class="text-overflow m-0">欢迎 !</h6>
                        </div>


                        <!-- item-->
                        <a href="javascript:void(0);" th:href="@{/exit}" class="dropdown-item notify-item">
                            <i class="fi-power"></i> <span>注销</span>
                        </a>

                    </div>
                </li>

            </ul>

            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class="button-menu-mobile open-left waves-light waves-effect">
                        <i class="dripicons-menu"></i>
                    </button>
                </li>

                </li>
            </ul>

        </nav>

    </div>
    <!-- Top Bar End -->


    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <div class="slimscroll-menu" id="remove-scroll">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu" id="side-menu">
                    <li class="menu-thitle">Important</li>
                    <li>
                        <a href="index-fr.html" th:href="@{/faren/index-fr}">
                            <i class="fi-air-play"></i>
                            <!--<span class="badge badge-danger badge-pill pull-right">3</span>-->
                            <span> 首页 </span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fi-briefcase"></i> <span> 项目管理 </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="gl-tianbao.html" th:href="@{/faren/gl-tianbao}">项目填报</a></li>
                            <li><a href="gl-weibao.html" th:href="@{/faren/gl-weibao}">未报项目</a></li>
                            <li><a href="gl-yibao.html" th:href="@{/faren/gl-yibao}">已报项目</a></li>
                            <li><a href="gl-yibao.html" th:href="@{/faren/gl-shenhe}">审核项目</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fi-box"></i><span> 项目调度 </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="dd-mytask.html" th:href="@{/faren/dd-mytask}">我的调度任务</a></li>
                            <li><a href="dd-overtask.html" th:href="@{/faren/dd-overtask}">已结项任务</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fi-mail"></i><span> 问题督办 </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a th:href="@{/faren/ques-tianbao}">问题填报</a></li>
                            <li><a th:href="@{/faren/ques-list}">问题申请</a></li>
                            <li><a th:href="@{/faren/ques-handle}">问题处理</a></li>
                            <li><a th:href="@{/faren/ques-over}">问题结项</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fi-briefcase"></i> <span> 统计分析 </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a th:href="@{/frprojectview}">项目总体统计</a></li>
                            <li><a th:href="@{/frquesview}">项目问题统计</a></li>
                        </ul>
                    </li>
                </ul>


            </div>
            <!-- Sidebar -->
            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->



    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title float-left">审核项目</h4>

                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="#">重点项目库</a></li>
                                <li class="breadcrumb-item"><a href="#">项目管理</a></li>
                                <li class="breadcrumb-item active">审核项目</li>
                            </ol>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box" style="margin-bottom: 0px;height: 444px;">
                            <div id="projectToolbar" class="toolbar" style="height: 60px; position: relative; background-color: white">
                                <!--<ul class="tools">
                                    <li>
                                        <span>项目名称</span>
                                        <input id="projectName"  type="text">
                                    </li>
                                    <li>
                                        <span>所属行业</span>
                                        <select id="industry"  name="industry" type="text" readonly="readonly" class="select-text base-info-required" >
                                            <option value=""></option>
                                            <option value="农林水利">农业</option>
                                            <option value="林业">林业</option>
                                            <option value="畜牧业">畜牧业</option>
                                            <option value="渔业">渔业</option>
                                            <option value="采矿业">采矿业</option>
                                            <option value="制造业">制造业</option>
                                            <option value="生产和供应业">生产和供应业</option>
                                            <option value="批发和零售业">批发和零售业</option>
                                            <option value="交通运输业">交通运输业</option>
                                            <option value="仓储和邮政业">仓储和邮政业</option>
                                            <option value="住宿和餐饮业">住宿和餐饮业</option>
                                            <option value="信息传输和软件业">信息传输和软件业</option>
                                            <option value="建筑业">建筑业</option>
                                            <option value="金融业">金融业</option>
                                            <option value="房地产业">房地产业</option>
                                            <option value="租赁和商品服务业">租赁和商品服务业</option>
                                        </select>
                                    </li>
                                    <li>
                                        <span>建设地点</span>
                                        <select id="buildPlace" name="buildPlace" type="text" readonly="readonly" class="select-text base-info-required" >
                                            <option value=""></option>
                                            <option value="北京">北京</option>
                                            <option value="天津">天津</option>
                                            <option value="上海">上海</option>
                                            <option value="重庆">重庆</option>
                                            <option value="山西">山西</option>
                                            <option value="辽宁">辽宁</option>
                                            <option value="吉林">吉林</option>
                                            <option value="黑龙江">黑龙江</option>
                                            <option value="江苏">江苏</option>
                                            <option value="浙江">浙江</option>
                                            <option value="安徽">安徽</option>
                                            <option value="福建">福建</option>
                                            <option value="江西">江西</option>
                                            <option value="山东">山东</option>
                                            <option value="河南">河南</option>
                                            <option value="湖北">湖北</option>
                                            <option value="湖南">湖南</option>
                                            <option value="海南">海南</option>
                                            <option value="四川">四川</option>
                                            <option value="贵州">贵州</option>
                                            <option value="云南">云南</option>
                                            <option value="陕西">陕西</option>
                                            <option value="甘肃">甘肃</option>
                                            <option value="青海">青海</option>
                                            <option value="香港">香港</option>
                                            <option value="澳门">澳门</option>
                                            <option value="台湾">台湾</option>
                                            <option value="广西">广西</option>
                                            <option value="西藏">西藏</option>
                                            <option value="宁夏">宁夏</option>
                                            <option value="新疆">新疆</option>
                                        </select>
                                    </li>
                                    <li>
                                        <span>项目类型</span>
                                        <select id="projectType" name="proType">
                                            <option value=""></option>

                                            <option value="审批">审批</option>

                                            <option value="核准">核准</option>

                                            <option value="备案">备案</option>

                                        </select>
                                    </li>

                                </ul>-->
                                <ul class="tools" style="float:right;">
                                    <li>
                                        <!--<span>查询条件</span>-->
                                        <input style="width: 280px;height:28px " id="projectName" placeholder="请输入查询条件，如：项目名称" name="projectName" type="text">
                                    </li>
                                    <li>
                                        <button id="queryProjectBtn" class="tool-button button-highlight">
                                            <i class="fa fa-search"></i> <span>查询</span>
                                        </button>
                                    </li>

                                </ul>
                                <br style="clear:both;">
                            </div>

                            <div id="projectView" class="grid-view" style=" width: 100%;height:85%;">
                                <div class="grid-head" style="width: 100%;height:90%;overflow:auto;">
                                    <form method="get" th:action="@{/faren/gl-shenhe}" th:object="${projectInfo}">
                                        <table class="table-head" cellspacing="0" cellpadding="0" style="display: block;">
                                            <colgroup>
                                                <col style="width: 50px;">
                                                <col style="width: 50px;">
                                                <col style="width: 120px;">
                                                <col style="width: 120px;">
                                                <col style="width: 120px;">
                                                <col style="width: 120px;">
                                                <col style="width: 120px;">
                                                <col style="width: 110px;">
                                                <col style="width: 120px;">
                                                <col style="width: 180px;">
                                                <col style="width: 120px;">
                                                <col style="width: 120px;">
                                                <col><col style="width:0px">
                                            </colgroup>
                                            <tr>
                                                <th style="text-align: center;"><!--<input class="gridview-check-all" type="checkbox" name="PROJECT_ID_all">--></th>
                                                <!--<th>项目序号</th>-->
                                                <th>项目名称</th>
                                                <th>项目类型</th>
                                                <th>审核意见</th>
                                                <th>建设性质</th>
                                                <th>建设地点</th>
                                                <th>所属行业</th>
                                                <th>总投资（万元）</th>
                                                <th>隶属关系</th>
                                                <th>责任单位</th>
                                                <th>项目（法人）单位</th>
                                                <th>投资计划年度</th>
                                            </tr>

                                            <tr th:each="yList : ${yList}">
                                                <th style="text-align: center;">
                                                    <input class="gridview-check-all" type="checkbox" name="select" th:attr="data-id=${yList.pid}">
                                                </th>
                                                <!--<th th:text="${yList.pid}"></th>-->
                                                <th style="text-align: left">
                                                    <a style="text-align: left" th:href="@{/faren/display-fix(pid=${yList.pid})}" th:text="${yList.projectname}"></a>
                                                </th>
                                                <th th:text="${yList.projecttype}"></th>
                                                <th th:text="${yList.projectstatus}"></th>
                                                <th th:text="${yList.buildnature}"></th>
                                                <th th:text="${yList.buildplace}"></th>
                                                <th th:text="${yList.industry}"></th>
                                                <th th:text="${yList.investmenttotal}"></th>
                                                <th th:text="${yList.projectaffiliation}"></th>
                                                <th th:text="${yList.directdept1}"></th>
                                                <th th:text="${yList.proorg}"></th>

                                                <th th:text="${yList.moneyyear}"></th>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                                <div style="float: left;margin-top: 15px " class="dataTables_info" id="datatable_info" role="status" aria-live="polite" th:text="'当前第：'+ ${iPagew.getCurrent()}+' 页，总共：'+${iPagew.getPages()}+' 页，总共：'+${iPagew.getTotal()}+' 条记录'"></div>
                                <div style="float:right;margin-top: 6px" class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous" id="datatable_first">
                                            <a th:href="'/faren/gl-shenhe?pageNum=1'" th:text="首页" aria-controls="datatable" data-dt-idx="1" tabindex="0" class="page-link"></a>
                                        </li>
                                        <li th:if="${iPagew.getCurrent()}" class="paginate_button page-item previous" id="datatable_previous">
                                            <a th:href="'/faren/gl-shenhe?pageNum=' + ${iPagew.getCurrent()-1}" th:text="上一页" aria-controls="datatable" data-dt-idx="1" tabindex="0" class="page-link"></a>
                                        </li>
                                        <li th:each="pageNum:${#numbers.sequence(1, iPagew.getPages())}" class="paginate_button page-item active"  >
                                            <a th:href="'/faren/gl-shenhe?pageNum=' + ${pageNum}" th:text="${pageNum}" aria-controls="datatable" data-dt-idx="1" tabindex="0" class="page-link"></a>
                                        </li>
                                        <li th:if="${iPagew.getCurrent()}" class="paginate_button page-item next" id="datatable_next">
                                            <a th:href="'/faren/gl-shenhe?pageNum=' + ${iPagew.getCurrent()+1}" th:text="下一页" aria-controls="datatable" data-dt-idx="7" tabindex="0" class="page-link"></a>
                                        </li>

                                        <li  class="paginate_button page-item next" id="datatable_last">
                                            <a th:href="'/faren/gl-shenhe?pageNum=' + ${iPagew.getPages()}" th:text="尾页" aria-controls="datatable" data-dt-idx="7" tabindex="0" class="page-link"></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div><!-- container -->
        </div><!-- content -->

        <footer class="footer text-right">
            2019 - 2020 © 重点项目库. - Important.com
        </footer>

    </div>


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->



<!-- jQuery  -->
<script src="../../assets/js/jquery.min.js" th:href="@{../assets/js/jquery.min.js}"></script>
<script src="../../assets/js/popper.min.js" th:href="@{../assets/js/popper.min.js}"></script>
<script src="../../assets/js/bootstrap.min.js" th:href="@{../assets/js/bootstrap.min.j}"></script>
<script src="../../assets/js/metisMenu.min.js" th:href="@{../assets/js/metisMenu.min.js}"></script>
<script src="../../assets/js/waves.js" th:href="@{../assets/js/waves.js}"></script>
<script src="../../assets/js/jquery.slimscroll.js" th:href="@{../assets/js/jquery.slimscroll.js}"></script>

<!-- Toastr js -->
<script src="../plugins/jquery-toastr/jquery.toast.min.js" th:href="@{../plugins/jquery-toastr/jquery.toast.min.js}" type="text/javascript"></script>
<script src="../../assets/pages/jquery.toastr.js" th:href="@{../assets/pages/jquery.toastr.js}" type="text/javascript"></script>

<!-- App js -->
<script src="../../assets/js/jquery.core.js" th:href="@{../assets/js/jquery.core.js}"></script>
<script src="../../assets/js/jquery.app.js" th:href="@{../assets/js/jquery.app.js}"></script>

</body>
</html>